    
.topnav {
    text-align:center;
    display:block;
    color:Background;
    font-size: 20px;  
    text-decoration:none;
}
#firstHeading {
    text-align:center;
    color:black;
    font:300px; 
}
#firstP {
    text-align:center;
}
body {
}
footer { 
    display: block;
    text-align:center;
    background-color:cadetblue
}
p.solid {
    border-style: solid;
    border-color:red;
}
